
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #F8F9FA;
  font-family: 'Rubik', sans-serif;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brand-name {
  font-size: 20px;
  font-weight: 700;
  color: #121417;
  text-decoration: none;
}

.logo-icon img {
  width: 32px;
  height: 32px;
  display: block;
}

.header-navs {
  display: flex;
  gap: 10px;
}

.nav-link {
  text-decoration: none;
  color: #121417;
  font-weight: 500;
  font-size: 16px;
  padding: 8px 20px;
  border-radius: 20px; 
  transition: all 0.2s ease;
}


.nav-link.active {
  background-color: #85AA9F; 
  color: white;
}

.user-actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-name {
  font-weight: 500;
  font-size: 18px;
  color: #121417;
}

.user-avatar {
  width: 40px;
  height: 40px;
  background-color: #85AA9F;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.user-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logout-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #121417;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: opacity 0.2s;
}

.logout-btn:hover {
  opacity: 0.7;
}


.burger-icon {
  display: none;
  background: none;
  border: none;
  font-size: 30px;
  color: #121417;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
  z-index: 101;
}


@media (max-width: 768px) {
  .header {
    padding: 15px 20px;
  }

  .logout-btn {
  
  font-size: 13px;
  
}

  .burger-icon {
    display: block;
  }

 .brand-name {
  font-size: 18px;
  
  
}
.user-avatar {
  width: 30px;
  height: 30px;
  
}

  .header-navs {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #F8F9FA;
    padding: 20px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.05);
    z-index: 100;
    gap: 15px;
    border-top: 1px solid rgba(0,0,0,0.05);
  }


  .header-navs.mobile-open {
    display: flex;
  }

  .nav-link {
    width: 100%;
    text-align: center;
    padding: 12px;
  }

  .user-name {
    display: none; 
  }

  .user-actions {
    gap: 10px;
  }
}