.container {
  max-width: 1140px; /* İçerik en fazla bu kadar geniş olsun (Laptop ekranı gibi) */
  margin: 0 auto;    /* Üst-Alt: 0, Sağ-Sol: OTOMATİK (Bu kodu ortalar) */
  padding: 0 20px;   /* Mobilde kenarlara yapışmasın diye güvenlik boşluğu */
}